target/
**/target/
*.class
*.jar
*.war
*.ear

# Maven release / backup
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

.idea/
*.iml
*.iws
*.ipr
out/

.apt_generated
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/

/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
**/build/

.vscode/

logs/
**/logs/
*.log
*.log.*
log/
**/log/


# 外置配置目录
OpenNovel-config/
H:/OpenNovel-config/
D:/OpenNovel-config/

application-local.yml
application-local.yaml
bootstrap-local.yml
bootstrap-local.yaml
*-local.yml
*-local.yaml

.env
.env.*
*.env

application-dev.yml
application-dev.yaml
application-prod.yml
application-prod.yaml
bootstrap-dev.yml
bootstrap-dev.yaml
bootstrap-prod.yml
bootstrap-prod.yaml


*.key
*.pem
*.p12
*.pfx
*.jks
*.keystore
*.crt
*.cer
*.zip
*.rar
*.7z

tmp/
temp/
uploads/
upload/
files/
cache/
build-check/

data/
minio-data/

novel-metadata/
novel-novel/

.DS_Store
Thumbs.db
desktop.ini

backup/
db-backup/
*.dump

node_modules/
dist/
.npm/
.pnpm-store/
yarn-error.log
package-lock.json.tmp

coverage/
htmlcov/
surefire-reports/
failsafe-reports/

HELP.md