-- MySQL dump 10.13  Distrib 8.0.22, for Win64 (x86_64)
--
-- Host: localhost    Database: novel_novel
-- ------------------------------------------------------
-- Server version	9.0.1

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `articles`
--

DROP TABLE IF EXISTS `articles`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `articles` (
  `id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '小说名称',
  `author_name` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '作者名字',
  `category_id` int DEFAULT NULL COMMENT '分类ID',
  `cover_image` varchar(500) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL COMMENT '封面图片',
  `summary` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci COMMENT '简介',
  `word_count` int DEFAULT '0' COMMENT '总字数',
  `chapter_count` int DEFAULT '0' COMMENT '章节字数',
  `is_finished` tinyint DEFAULT '0' COMMENT '是否完结0(封禁),1(完结),2(连载),3(停更)',
  `views` int DEFAULT '0' COMMENT '阅读量',
  `likes` int DEFAULT '0' COMMENT '点赞数',
  `is_featured` tinyint DEFAULT '0' COMMENT '是否推荐',
  `status` tinyint DEFAULT '1' COMMENT '状态：上架、下架',
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `update_by` bigint DEFAULT NULL COMMENT '最后修改人ID',
  `create_by` bigint DEFAULT NULL COMMENT '创建人ID',
  `is_deleted` tinyint(1) NOT NULL DEFAULT '0' COMMENT '是否删除：0未删除，1已删除',
  `deleted_at` datetime DEFAULT NULL COMMENT '删除时间',
  `deleted_by` bigint DEFAULT NULL COMMENT '删除人',
  `cover_object_name` varchar(500) DEFAULT NULL COMMENT '封面对象路径',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `title` (`title`) USING BTREE,
  KEY `idx_status` (`status`) USING BTREE,
  KEY `idx_category` (`category_id`) USING BTREE,
  KEY `idx_featured` (`is_featured`) USING BTREE,
  KEY `idx_finished` (`is_finished`) USING BTREE,
  KEY `idx_views` (`views`) USING BTREE,
  KEY `idx_create_time` (`create_time`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=251 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `categories`
--

DROP TABLE IF EXISTS `categories`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `categories` (
  `id` int NOT NULL AUTO_INCREMENT,
  `name` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '分类名称',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态: 0-禁用, 1-启用',
  `creat_time` datetime DEFAULT NULL,
  `summary` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `is_delete` tinyint DEFAULT NULL,
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_name` (`name`) USING BTREE,
  KEY `idx_status` (`status`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=32 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='小说分类表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `chapters`
--

DROP TABLE IF EXISTS `chapters`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `chapters` (
  `id` int NOT NULL AUTO_INCREMENT,
  `article_id` int NOT NULL COMMENT '小说ID',
  `chapter_index` int NOT NULL COMMENT '章节索引',
  `title` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL COMMENT '章节标题',
  `start_paragraph` int DEFAULT '1' COMMENT '起始段落索引',
  `end_paragraph` int DEFAULT '1' COMMENT '结束段落索引',
  `word_count` int DEFAULT '0' COMMENT '本章字数',
  `status` tinyint DEFAULT '1' COMMENT '状态: 0-草稿, 1-发布',
  `source_url` varchar(512) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `display_order` int NOT NULL DEFAULT '0' COMMENT '显示顺序（从1开始）',
  `is_paragraphs_complete` tinyint DEFAULT '0' COMMENT '段落是否完整插入(0-否,1-是)',
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_article_chapter` (`article_id`,`chapter_index`) USING BTREE,
  UNIQUE KEY `article_id` (`article_id`,`chapter_index`) USING BTREE,
  KEY `idx_article` (`article_id`) USING BTREE,
  KEY `idx_chapter_index` (`chapter_index`) USING BTREE,
  KEY `idx_display_order` (`article_id`,`display_order`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=116077 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC COMMENT='章节信息表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `dict_entry`
--

DROP TABLE IF EXISTS `dict_entry`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `dict_entry` (
  `id` bigint NOT NULL AUTO_INCREMENT COMMENT '词条ID',
  `word` varchar(100) NOT NULL COMMENT '词条',
  `word_type` tinyint NOT NULL DEFAULT '1' COMMENT '类型：1=汉字，2=词语，3=成语',
  `pinyin` varchar(255) DEFAULT NULL COMMENT '拼音',
  `explanation` text COMMENT '解释原文',
  `source` varchar(50) DEFAULT NULL COMMENT '来源',
  `status` tinyint NOT NULL DEFAULT '1' COMMENT '状态：1=启用，0=禁用',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_word_type` (`word`,`word_type`),
  KEY `idx_word_type` (`word_type`)
) ENGINE=InnoDB AUTO_INCREMENT=391344 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='词典词条表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `paragraph_anchors`
--

DROP TABLE IF EXISTS `paragraph_anchors`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `paragraph_anchors` (
  `anchor_id` bigint NOT NULL AUTO_INCREMENT COMMENT '锚点主键ID',
  `article_id` int NOT NULL COMMENT '小说ID',
  `chapter_index` int NOT NULL COMMENT '章节索引',
  `chapter_title` varchar(255) DEFAULT NULL COMMENT '章节标题（冗余字段，便于展示/排查）',
  `paragraph_index` int NOT NULL COMMENT '当前导入时的段落索引（辅助定位）',
  `anchor_hash` varchar(64) NOT NULL COMMENT '基于标准化段落内容生成的稳定锚点哈希',
  `occurrence_no` int NOT NULL DEFAULT '1' COMMENT '同内容段落在本章内第几次出现，从1开始',
  `paragraph_id` bigint DEFAULT NULL COMMENT '当前映射到的 paragraphs.id，可为空，重导后可重新映射',
  `create_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP COMMENT '创建时间',
  `update_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP COMMENT '更新时间',
  PRIMARY KEY (`anchor_id`),
  UNIQUE KEY `uk_anchor_stable` (`article_id`,`chapter_index`,`anchor_hash`,`occurrence_no`),
  KEY `idx_article_chapter` (`article_id`,`chapter_index`),
  KEY `idx_paragraph_id` (`paragraph_id`),
  KEY `idx_anchor_hash` (`anchor_hash`)
) ENGINE=InnoDB AUTO_INCREMENT=240190 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci COMMENT='段落稳定锚点表';
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `paragraphs`
--

DROP TABLE IF EXISTS `paragraphs`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `paragraphs` (
  `id` int NOT NULL AUTO_INCREMENT,
  `chapter_id` int NOT NULL,
  `paragraph_index` int NOT NULL,
  `content` text CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL,
  `paragraph_hash` varchar(64) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci DEFAULT NULL,
  `create_time` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`) USING BTREE,
  UNIQUE KEY `uk_article_paragraph` (`chapter_id`,`paragraph_index`) USING BTREE,
  UNIQUE KEY `uk_chapter_paragraph_index` (`chapter_id`,`paragraph_index`),
  UNIQUE KEY `uk_chapter_paragraph_hash` (`chapter_id`,`paragraph_hash`),
  KEY `idx_article` (`chapter_id`) USING BTREE,
  KEY `idx_hash` (`paragraph_hash`) USING BTREE
) ENGINE=InnoDB AUTO_INCREMENT=8610326 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci ROW_FORMAT=DYNAMIC;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Table structure for table `tags`
--

DROP TABLE IF EXISTS `tags`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tags` (
  `id` int NOT NULL,
  `name` varchar(255) DEFAULT NULL,
  `create_time` datetime DEFAULT NULL,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-06-08 19:45:55
